.action-button{
    display: block;
    border: none;
    
     margin: 17px 5px;
     padding-left: 25px;
     padding-right: 25px;
     border: 1px solid rgb(33, 22, 183);
     border-radius: 10px;
     color: rgb(23, 10, 212);
     font-family: 'Roboto', sans-serif;
     font-weight: 700;
     background-color: white;
}