body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.header {
    background-color: purple;
    padding: 10px;
    text-align: center;
}

#username-input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: purp;
    padding: 20px;
    box-sizing: border-box;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
}

.message {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}

.sent {
    background-color: purple;
    color: white;
    align-self: flex-end;
}

.received {
    background-color: #f1f1f1;
    color: black;
    align-self: flex-start;
}

.message-input {
    display: flex;
    margin-top: 20px;
}

#message-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}